$color-link: #0cd;
$color-background: #F5F5F5;
$color-menu-bottom: #9dc5f0;
$color-menu-border: #f3f3f3;
$color-footer-text: #FF00FF;
$color-text-link:#5f5d67; 
$color-contact-us: #FFEEE1;
$color-light: #fff;
$color-header: rgba(60, 199, 199, 0.25);
$color-hover1: #BCD0E5;
$color-hover2: #FFA500;
$color-dentist: #4696ec;
$color-hamburger: #173A56;


$content-width: 1197px;       // было изначально 752px
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;