.main-content__columns {
    display: grid;
    grid-auto-flow:column;
    grid-gap: 20px;
    margin-top: 20px;
    @include media-mobile {              // чтобы в одну колонку были 
        grid-auto-flow: row;
        text-align: center;
        margin-top: 10px;
    }
}



.content-left {
    background: $color-menu-border;
    padding: 10px;
}


.content-right {
    background: $color-menu-border;
    padding: 10px;
}  

