html {
	font-size: 10px;
    scroll-behavior: smooth;
}

.wrapper {         
	width: 1200px;
	margin: 0 auto;
	background: #EEE8AA;
	padding: 15px;
	box-shadow: -5px 5px 20px 5px rgb(34 60 80 / 30%);
}


body {
    font: 1.6rem Arial; 
}

.menu {
	display: flex;
	list-style: none;
	
}

.menu >* {
	text-align: center;
	border: 2px dotted #BDB76B;
	margin: 2px;
}

.menu a {
	padding: 0 3px;
}


a {
	text-decoration: none;
	color: #4682B4;
}

a:hover {
	color:coral;
}


.fontclass {
	font: italic bold 20px Arial;
}


.text { 
text-align:center; line-height:1.7; text-decoration:line-through; color:#ff0000;

}

.style {
	background-color:#999999;
	background-image:url(bg.png);
	background-repeat:no-repeat;
	background-position:right top;
}


body {
	background:url(bg.png); 
}



.color_phrase {
	background-color:#FFDAB9;
}

.table {
border: 2px solid #000000;
padding: 20px 30px;
margin: 10px;
}

.imgleft {
	float:left;
	margin: 0 20px 0 0;
}
	
.location_heading {
	display:block;
}
.cont_examp {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.cont_examp >* {
	padding-bottom: 10px;
}


.footer-line {
	text-align: center;
}

.text-foot {
padding-right: 20px;
font-weight: bold;
}