/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.dentist-mail:hover, .contacts-ico a:hover, .menu a:hover, .logo-path, .logo-path1, .logo-svg {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.footer-line, .menu li, h2, h1 {
  font-family: "Poppins", Verdana, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: auto;
}

h1 {
  font-style: normal;
  font-size: 4.4rem;
  line-height: 1.3;
}
@media (max-width: 414px) {
  h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
}

h2 {
  font-style: bold;
  font-size: 2.4rem;
  line-height: 1.3;
}
@media (max-width: 414px) {
  h2 {
    line-height: 0.3;
  }
}

h3 {
  font-style: bold;
  font-size: 1.7rem;
  line-height: 1.3;
}

button {
  padding: 13px 25px 15px;
  font-family: "Poppins", Verdana, sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.sign-button1 {
  background: #fff;
  border: 1px solid rgba(60, 199, 199, 0.25);
}
.sign-button1:hover {
  background: #BCD0E5;
  border: 1px solid #BCD0E5;
}

.sign-button2 {
  background: #0cd;
  border: none;
  border: 1px solid #fff;
}
.sign-button2:hover {
  background: #FFA500;
  border: none;
  border: 1px solid #fff;
}

.logo-svg:hover {
  background-color: #BCD0E5;
}
.logo-svg:hover .logo-path {
  fill: #F5F5F5;
}
.logo-svg:hover .logo-path1 {
  fill: #0cd;
}

@media (max-width: 414px) {
  .logo-object {
    width: 50pt;
  }
}
@media (max-width: 768px) {
  .logo-object {
    width: 50pt;
  }
}

.hamburger__line, .hamburger::after, .hamburger::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: #173A56;
  border-radius: 5px;
  height: 3px;
  width: 100%;
}

.hamburger {
  display: none;
  position: relative;
  width: 35px;
  height: 27px;
  margin-right: 17px;
}
@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.wrapper {
  max-width: 1197px;
  margin: auto;
}
@media (max-width: 1197px) {
  .wrapper {
    padding: 0 26px;
  }
}

.wrapper__first-line {
  background: #fff;
  box-shadow: 0px 4px 2px rgba(60, 199, 199, 0.25);
  padding: 15px 0 17px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .header_wrapper {
    padding-left: 10px;
  }
}

.menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu li {
  padding: 0 15px;
  font-style: bold;
  font-size: 2.4rem;
  line-height: 1.3;
  flex-grow: 1;
}
.menu a {
  color: #9932CC;
  text-decoration: none;
}
.menu a:hover {
  color: #FFA500;
  text-decoration: none;
}

.sign-buttons > * {
  margin-left: 20px;
}
@media (max-width: 414px) {
  .sign-buttons > * {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
}
.layout-3-columns > * {
  flex-basis: 25%;
}

.layout-2-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.layout-2-columns > * {
  flex-basis: 44%;
}

.footer-line {
  display: flex;
  justify-content: space-between;
  font-style: bold;
  font-size: 2.4rem;
  line-height: 1.3;
  box-shadow: 0px 4px 30px rgba(60, 199, 199, 0.25);
}

.logo-object-footer {
  width: 40px;
}

.contact-us {
  background: #FFEEE1;
  padding: 10px 15px;
  margin: 10px;
}
@media (max-width: 768px) {
  .contact-us {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
  }
}

.content-form input, .content-form textarea {
  border: none;
  background-color: #fff;
  padding: 10px 21px;
  border-radius: 5px;
}
.content-form input:focus, .content-form textarea:focus {
  border: 1px solid #FFA500;
  outline: none;
}
.content-form textarea {
  resize: none;
  width: 93%;
  height: 160px;
}

.content-inf img {
  display: inline;
}

.contacts-ico {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .contacts-ico {
    justify-content: center;
  }
}
.contacts-ico > * {
  padding: 20px 0;
}
@media (max-width: 768px) {
  .contacts-ico > * {
    padding: 2px;
  }
}
.contacts-ico a {
  color: #5f5d67;
  text-decoration: none;
  font-style: bold;
  font-size: 1.8rem;
  line-height: 1.3;
}
.contacts-ico a:hover {
  color: #FFA500;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .ico-last-line {
    padding-bottom: 25px;
  }
}

.layout-heading {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
}
.layout-heading > * {
  max-width: 38%;
  flex-grow: 1;
}
@media (max-width: 414px) {
  .layout-heading {
    flex-direction: column;
    margin-bottom: 0;
  }
  .layout-heading > * {
    margin-bottom: 19px;
    min-width: 93%;
  }
}

.content-inf p {
  line-height: 1.3;
}

.bottom-button > * {
  min-width: 130px;
  margin-bottom: 10px;
}
@media (max-width: 414px) {
  .bottom-button > * {
    margin-top: 19px;
  }
}

.main-content__columns {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  margin-top: 20px;
}
@media (max-width: 414px) {
  .main-content__columns {
    grid-auto-flow: row;
    text-align: center;
    margin-top: 10px;
  }
}

.content-left {
  background: #f3f3f3;
  padding: 10px;
}

.content-right {
  background: #f3f3f3;
  padding: 10px;
}

.about-us {
  padding: 15px 0 15px 0;
}

.dentist-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 2px rgba(44, 68, 68, 0.25);
  position: relative;
}

.dentist-mail {
  text-decoration: none;
  color: #4696ec;
}
.dentist-mail:hover {
  color: #FFA500;
  text-decoration: underline;
}

.title, .dentist-mail, .dentist-name {
  margin: 0;
}

.dentist-content {
  padding-top: 20px;
}

.dentist-photo {
  position: absolute;
  top: 10px;
  right: -32px;
}

.dentist-container {
  padding-right: 32px;
}

/*# sourceMappingURL=styles.css.map */
