.logo-path, .logo-path1, .logo-svg {
   @extend  %transition;
}




.logo-svg:hover { 
    background-color: $color-hover1;       // в логотипе svg добавил первые строки и классы для стилизации
    .logo-path {
        fill: $color-background;
    }
    .logo-path1 {
        fill: $color-link;
    }
}


.logo-object {
    @include media-mobile {  
        width: 50pt;
    }
    @include media-tablet {  
        width: 50pt;
    }
}